.multiple{
    display: none;
    opacity: 0;
}
input[type = 'button'].multiple-btn,
input[type = 'button'].cont-multiple-btn{
    /*background: #868686;
    border-color: #868686;*/
    position: relative;
    left: -12px;
    top: -1px;
    border-radius: 0;
    height: 28px;
    line-height: 28px;
    padding: 0 18px;
}

.contentGroup{
    position: relative;
}
.contentGroup .none-btn{
    margin-left: 60px;
}
input[type = 'button'].cont-multiple-btn{
    position: absolute;
    left: 10px;
    top: 9px;
}

.art-thumb-img{
    max-width: 300px;
}

.show-len{
    display: inline-block;
}

.show-len span{
    margin-left: 2px !important;
}
.show-len span.danger{
    color: #ff4949;
    font-weight: bold;
    font-size: 14px;
}

.cont_img_show{
    width: 100%;
    max-width: 592px;
}

td .stock{
    display: inline-block;
    margin-left: 10px;
}
td .stock span{
    color: #333;
    font-size: 14px;
    line-height: 40px;
}
